@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl;
  }

  h3 {
    @apply text-xl sm:text-2xl;
  }

  img {
    @apply w-auto h-fit aspect-auto object-contain select-none;
  }
}

@layer components {
  .selection-corner {
    @apply absolute w-20 h-20 max-w-[30px];
  }
}

@layer utilities {
  .glow {
    @apply drop-shadow-[0_0_0.45rem_white];
  }
}

:root {
  @apply text-base sm:text-lg;
}

* {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.icon-mask {
  clip-path: polygon(
    25% 0,
    75% 0,
    100% 30%,
    100% 70%,
    80% 100%,
    20% 100%,
    0% 70%,
    0% 30%
  );
}
