@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl font-bold pb-4;
  }

  img {
    @apply w-auto h-fit aspect-auto object-contain select-none;
  }
}

@layer utilities {
  .glow {
    @apply drop-shadow-[0_0_0.85rem_white];
  }

  .glow-on-hover {
    @apply hover:drop-shadow-[0_0_0.85rem_white] transition-[filter];
  }
}

:root {
  @apply text-base sm:text-lg;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

.icon-mask {
  clip-path: polygon(
    25% 0,
    75% 0,
    100% 30%,
    100% 70%,
    80% 100%,
    20% 100%,
    0% 70%,
    0% 30%
  );
}
